<div class="apple">
  <%= image_tag "notapple.png", height: 300 %>
</div>
<h2 class="diyor">applebase</h2>
<div class="notapple">
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-light btn-lg', style: 'font-size: 20px;  padding: 20px 30px;' %>
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-light btn-lg', style: 'font-size: 20px;  padding: 20px 30px;' %>
</div>