<%= link_to "Back to projects", projects_path, class: 'text-light btn btn-primary mt-3' %>
<h1 class="text-center">Edit project</h1>

<%= render "form", project: @project %>

<%= link_to "Show this project", @project, class: 'text-light btn btn-success' %>